<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.huawei.guess2021cs">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-feature android:name="android.hardware.camera2" android:required="true"></uses-feature>
    <uses-permission android:name="android.permission.CAMERA"></uses-permission>
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Guess_2021_CS"
        android:usesCleartextTraffic="true">
        <activity android:name=".SnookerActivity"></activity>
        <activity
            android:name=".MaterialActivity"
            android:label="@string/title_activity_material"
            android:theme="@style/Theme.Guess_2021_CS.NoActionBar" />
        <activity
            android:name=".RecordListActivity"
            android:label="RecordListActivity"
            android:theme="@style/Theme.Guess_2021_CS.NoActionBar" />
        <activity
            android:name=".RecordActivity"
            android:label="RecordActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            android:label="@string/app_name">
        </activity>
    </application>

</manifest>